# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Generated data
data/processed/
visualization/artifacts/
__pycache__/
*.pyc
data/processed/
visualization/artifacts/

__pycache__/
*.pyc
venv/
data/processed/
*.html