# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Generated data
data/processed/
visualization/artifacts/
__pycache__/
*.pyc
data/processed/
visualization/artifacts/

__pycache__/
*.pyc
venv/
data/processed/
*.html


results/
logs/
__pycache__/
*.pyc
*.rar
# Python
venv/
__pycache__/
*.pyc

# Logs
*.log

# Node
node_modules/
build/

# Env
.envnode_modules/
build/
venv/
*.log
__pycache__/
.env